<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <script
      src="https://kit.fontawesome.com/fd5e52ef6c.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/fd5e52ef6c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/style/style.css" />
   
  </head>
  <body>
    {{>header}}

    <div class="content">
      <h1>Type your favourite city to get Weather updates</h1>

      <form id="form">
        <input type="search" name="" id="formInput" />
        <button type="submit" id="searchBtn">Search</button>
        <!-- <input type="button" id="searchBtn" value="Search" /> -->
      </form>
      <div class="showResult">
        <div class="locationTime">
          <div class="currentday">day</div>
          <div>
            <span class="currentdate">date</span>
            <span class="currentmonth">month</span>
          </div>
        </div>
        <div class="city"></div>
        <div class="condition">
          <div class="temp"></div>
          <div class="weather"></div>
        </div>
      </div>
    </div>

   
     {{>footer}}
    <script src="/js/config.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
